/****** General ***********/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --grey: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

.card-rating .fa-star:nth-child(5) {
    color: var(--filter-bg-color);
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

button {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

img {
    object-fit: cover;
}

a {
    color: #000000;
    text-decoration: none;
}

/****** header ***********/
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__link {
    display: flex;
    align-items: center;
    height: 79px;
}

.navbar__logo {
    height: 19px;
}

.menu {
    height: 100%;
    display: flex;
    gap: 70px;
}

.menu__link {
    padding: 10px 0;
    text-decoration: none;
    border-top: solid 2px transparent;
}

.menu__link:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}


/****** info-group ***********/

.info {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 30px;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline__title {
    font-size: 22px;
}

.form {
    position: relative;
    height: 50px;
    display: flex;
}
.form-icon {
    background: var(--main-bg-color);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

.form-icon i {
    color: #000000;
}

.form__input {
    width: 200px;
    border: solid 1px var(--main-bg-color);
    outline: none;
    padding-left: 25px;
}

.form__input::placeholder {
    position: relative;
    top: 2px;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
}

.form__button--desktop {
    width: 150px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__button--mobile {
    display: none;
}

.filters {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filters__title {
    font-size: 18px;
}

.filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filters-list__button {
    height: 50px;
    min-width: 164px;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    background: transparent;
    border: solid 2px var(--grey);
    padding: 20px;
    border-radius: 25px;
}

.filters-list__button i{
    padding-right: 10px;
    font-size: 20px;
}


.filters-list__button:hover {
    background-color: var(--filter-bg-color);
}

.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-bar__icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border: solid 1px var(--grey);
    border-radius: 50px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements__title {
    font-size: 22px;
    margin-bottom: 33px;
}

.hebergements-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergement-card {
    width: 30%;
    min-width: 120px;
    padding: 5px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.hebergement-card__img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
}

.hebergement-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px;
    margin: 8px 0 8px 0;
}

.hebergement-content__subtitle{
    font-size: 14px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.populaires-cards .card {
    display: flex;
    margin-bottom: 33px;
}

.populaire-card__img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaire-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activity ***********/

.activity {
    width: 100%;
    padding: 30px;
    margin-bottom: 35px;
}

.activity__title {
    font-size: 22px;
    margin-bottom: 33px;
}

.activity-container {
    display: flex;
    gap: 30px;
}

.activity-container a {
    width: 25%;
    min-height: 200px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.activity-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity-card__img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activity-txt {
    height: 59px;
    display: flex;
    align-items: center;
    padding: 19px 20px;
}

.activity-txt__title {
    font-size: 16px;
}

/****** footer ***********/

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.footer__container {
    width: 100%;
    padding: 20px;
}

.footer__container ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-title {
    font-weight: 700;
}

.footer__link:not(:nth-child(1)) {
    cursor: pointer;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .activity-card__img {
        height: 200px;
    }

    .activity-card-txt {
        height: 70px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    .info,.hebergements-and-populaires section, .activity {
        padding: 20px;
    }
    /* header */

    .navbar {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .navbar__link {
        justify-content: center;
    }

    .menu {
        gap: 0;  
        text-align: center;
    }

    .menu__link {
        width: 50%;
        border-bottom: solid 2px var(--grey);   
    }

    .menu__link:hover {
        border-bottom: solid 2px var(--main-color);
        border-top: none;
    }

    .info {
        gap: 30px;
        margin-bottom: 15px;
    }
    
    /* research */

    .form__input {
        width: 100%;
    }

    .form__button--desktop {
        display: none;
    }

    .form__button--mobile {
        position: absolute;
        right: 0;
        display: block;
        background-color: var(--main-color);
        cursor: pointer;
        height: 50px;
        width: 50px;
        border-radius: 15px;
        border: none;
    }
    
    .form__button--mobile i {
        color: white;
    }

    /* filter */

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters-list {
        gap: 10px;
    }

    .filters-list__button{
        font-size: 14px;
    }

    /* hebergements et populaires */


    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section:not(.populaires) {
        background-color: white;
    }

    .hebergements-and-populaires .populaires {
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .hebergement-card, .populaires-cards .card {
        width: 100%;
        margin-bottom: 15px;
    }

    .hebergements__title, .populaires-title {
        margin-bottom: 15px;
    }

    .populaires {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 0;
    }

    /* Activités */


    .activity-container {
        display: block;
    }

    .activity-container a {
        display: flex; 
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }

    .activity-card {
        width: 100%;
    }

    .activity-card__img {
        width: 100%;
        height: 140px;
    }

      /* Footer */

      footer {
        flex-wrap: wrap;
      }

}


